.gridview
    {
        border-collapse: collapse;
        margin: 0px 10px 10px 0;
        box-shadow: 3px 3px 4px #bbb;    
    }

.gridview, .gridview td,  .gridview th
    {
        border:  1px solid #cccccc;
    }

.gridview th
    {
        text-align: left;
        /*font-size: 1.2em;*/
        font-weight: normal;
        color: #F9F9F9;    
        background: #337EB5;
    }